shannon-results*
.DS_Store*
settings.json
.python-version
deployments*
node_modules/*
.vscode/*
!.vscode/settings.json
.env
.env.*local
*.log
*.sqlite3
__pycache__/*
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.idea/*
*.iml